<html lang="en" class="no-js">
	<head>
      <link href="../static/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="front">
			<header>
				<h1>THE READERS<br/><span>FEEL THE ESSECENSE OF WRITING</span></h1>	
			</header>
			<section class="color-1">
				<p>
          <form >
					<button id="but-one"><a href="{{url_for('login')}}"> LOGIN</a></button>
					<button id="but-two"><a href="{{url_for('register')}}"> SIGN UP</a></button>
        </form>
		</p>
		</section>

</div>
	</body>
</html>